[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log

# Character set
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# InnoDB
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M

# Max connections
max_connections = 200

[client]
default-character-set = utf8mb4
